<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.example.android.bostonbabynurse"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/bbn_logo_final"
        android:label="@string/app_name"
        android:theme="@style/Theme.BostonBabyNurse"
        android:name="org.example.android.bostonbabynurse.BBNApplication">

        <!--Splash Screen -->
        <activity
            android:name="org.example.android.bostonbabynurse.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Main Activity-->
        <activity
            android:name="org.example.android.bostonbabynurse.MainActivity"
            android:label="@string/app_name">
        </activity>


        <!--Navigation Bar Activities-->
        <activity android:name=".ScheduleActivity"
            android:label="Schedule"/>
        <activity android:name=".EducationActivity"
            android:label="Education"/>
        <activity android:name=".EventsActivity"
            android:label="Events"/>


        <!--Feeding Education Content Activity-->
        <activity
            android:name="org.example.android.bostonbabynurse.FeedingEducationActivity"
            android:label="Feeding your Child">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.EducationActivity" />
        </activity>


        <!--Sleeping Education Content Activity-->
        <activity
            android:name="org.example.android.bostonbabynurse.SleepingEducationActivity"
            android:label="Sleep Training">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.EducationActivity" />
        </activity>


        <!--Article Content Activity-->
        <activity
            android:name="org.example.android.bostonbabynurse.ArticleContentActivity"
            android:label="@string/app_name">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="org.example.android.bostonbabynurse.MainActivity" />
        </activity>


        <!--Inquiry Activity-->
        <activity
            android:name="org.example.android.bostonbabynurse.InquiryActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.MainActivity" />
        </activity>


        <!--Forum Activity-->
        <activity
            android:name="org.example.android.bostonbabynurse.ForumActivity"
            android:label="Boston Baby Nurse Community Forum">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.MainActivity" />
        </activity>


        <!--Login Signup Activity-->
        <activity
            android:name="org.example.android.bostonbabynurse.LoginSignupActivity"
            android:label="@string/app_name">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.MainActivity" />
        </activity>


        <!--Signup Form-->
        <activity
            android:name="org.example.android.bostonbabynurse.SignupForm"
            android:label="Registration">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.MainActivity" />
        </activity>


        <!--Forgot Password-->
        <activity
            android:name="org.example.android.bostonbabynurse.ForgotPassword"
            android:label="Have your password sent to your email">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.MainActivity" />
        </activity>


    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
