<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.example.android.bostonbabynurse"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.BostonBabyNurse"
        android:name="org.example.android.bostonbabynurse.BBNApplication">

        <!--Splash Screen -->
        <activity
            android:name="org.example.android.bostonbabynurse.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!--Main Activity-->
        <activity
            android:name="org.example.android.bostonbabynurse.MainActivity"
            android:label="@string/app_name">
        </activity>


        <!--Navigation Bar Activities-->
        <activity android:name=".ScheduleActivity"
            android:label="Schedule"/>
        <activity android:name=".EducationActivity"
            android:label="Education"/>
        <activity android:name=".EventsActivity"
            android:label="Events"/>
        <activity android:name=".ForumActivity"
            android:label="Forum"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <!--Feeding Education Content Activity-->
        <activity
            android:name=".FeedingEducationActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.EducationActivity" />
        </activity>


        <!--Sleeping Education Content Activity-->
        <activity
            android:name=".SleepingEducationActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.EducationActivity" />
        </activity>



        <!--Article Content Activity-->
        <activity
            android:name=".ArticleContentActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="org.example.android.bostonbabynurse.MainActivity" />
        </activity>


        <!--Inquiry Activity-->
        <activity
            android:name=".InquiryActivity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.example.android.bostonbabynurse.MainActivity" />
        </activity>






    </application>

    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>
